# Игнорировать файлы Python bytecode
__pycache__/
*.pyc

# Игнорировать виртуальные окружения
venv/
env/

# Игнорировать файлы настроек IDE
.vscode/
.idea/

# Игнорировать файлы логов
*.log

# Игнорировать выходные файлы
*.png
*.jpg

# Игнорировать файлы настроек операционной системы
.DS_Store
Thumbs.db
